---
import ProductsList from '../constants/products'
import ProductCard from './ProductCard.astro'
---

<ul class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-10">
  {
    ProductsList.map((service: ProductType) => (
      <li>
        <ProductCard
          title={service.title}
          description={service.description}
          color={service.color}
          image={service.image}
          url={service.url}
        />
      </li>
    ))
  }
</ul>
